
/* Assurez-vous que le corps et le HTML remplissent toute la fenêtre */
/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

/* Style pour le formulaire */
#pointForm {
    display: none; /* Masquer le formulaire par défaut */
    position: absolute;
    background-color: white;
    padding: 20px;
    z-index: 1000;
}

/* For poop rating */
.rating {
    display: inline-block;
    position: relative;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}


.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: transparent;
    text-shadow: 0 0 0 black;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: transparent;
    text-shadow: 0 0 0 white;
}

