<!-- <!DOCTYPE html>
<html>
<head>
    <title>CacAmical</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />


    <style>
    /* Définir la taille de la carte pour remplir toute la fenêtre */
    #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* 100% de la hauteur de la fenêtre */
    margin: 0;
    }
    /* Assurez-vous que le corps et le HTML remplissent toute la fenêtre */
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
    </style>
    <link rel="stylesheet" th:src="@{/css/map.css}"/>

</head>
<body>
<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script type="text/javascript" th:src="@{/js/leaflet.js}" />
<script>
    var map = L.map('map').setView([51.505, -0.09], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    var poopIcon = L.icon({
        iconUrl: '/resources/static/img/poop.png',
        iconSize: [45, 45],
    });

    // Ajoutez un gestionnaire d'événements "click" sur la carte
    map.on('click', function (e) {
        var marker = L.marker(e.latlng, { icon: poopIcon }).addTo(map);
        marker.bindPopup("<b>Hello world!</b><br>I am a poop.").openPopup();
    });


</script>
</body>
</html> -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- this is where we refer the css file from src/main/resources/static/main.css -->
    <link rel="stylesheet" th:src="@{/css/main.css}"/>
</head>
<body>
    <h1 class="mt-1 text-xl" th:text="'Hello horld!'" />
</body>
</html>
