<!DOCTYPE html>
<html lang="fr">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
    <title>Mon profil</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen">
    <header class="bg-blue-500 py-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="text-white text-2xl font-semibold cursor-pointer" onclick="location.href='/';">
                CacAmical
            </div>

            <div>
                <button class="bg-white text-blue-500 px-4 py-2 rounded-full text-sm font-semibold" onclick="location.href='/connexion';"  sec:authorize="isAnonymous()">
                    Connexion
                </button>
                <button class="bg-white text-blue-500 px-4 py-2 rounded-full text-sm font-semibold" onclick="location.href='/profil';" sec:authorize="isAuthenticated()">
                    Profil
                </button>
                <button class="bg-white text-blue-500 px-4 py-2 rounded-full text-sm font-semibold" onclick="location.href='/logout';" sec:authorize="isAuthenticated()">
                    Deconnexion
                </button>
            </div>
        </div>
    </header>
    <div class="flex-1 p-4 bg-white rounded-lg shadow-md">
        <h1 class="text-2xl font-semibold mb-4">Mon Profil</h1>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p class="text-gray-600">Username:</p>
                <p class="text-lg font-semibold" th:text="${user.username}"></p>
            </div>
            <div>
                <p class="text-gray-600">Nom de famille:</p>
                <p class="text-lg font-semibold" th:text="${user.nom}"></p>
            </div>
            <div>
                <p class="text-gray-600">Prénom:</p>
                <p class="text-lg font-semibold" th:text="${user.prenom}"></p>
            </div>
            <div>
                <p class="text-gray-600">Date de création du compte:</p>
                <p class="text-lg font-semibold" th:text="${user.dateCreation}"></p>
            </div>
        </div>

        <div class="mb-4 mt-5">
            <h1 class="text-2xl font-semibold mb-4">Trouver de nouveaux amis</h1>
            <div class="flex items-center">
                <input type="text" id="find-friend-field" placeholder="Entrez le nom de votre nouvel ami" class="p-2 border rounded-l-lg w-full">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r-lg">Chercher</button>
            </div>
            <div id="list-display">

            </div>
        </div>
        <div>
            <h1 class="text-2xl font-semibold mb-2">Amis</h1>
            <ul class="list-disc pl-5" id="friend-list">
                <li th:if="${user.amis.size() == 0}" class="text-gray-500" id="no-friend">
                    Vous n'avez pas encore d'amis
                </li>
                <li th:each="ami : ${user.amis}" class="mb-2 text-grey-600 cursor-pointer" th:attr="onclick= |deleteFriend('${ami.userId}',this)|">
                    <span  th:text="${ami.nom}" ></span> <span th:text="${ami.prenom}" class="ml-2"></span>
                </li>
            </ul>
        </div>
    </div>
    

    <script src="/resources/static/js/profil.js"></script>
</body>
</html>