<!DOCTYPE html>
<html lang="fr">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
    <title>Mon profil</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen">
    <header class="bg-blue-500 py-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="text-white text-2xl font-semibold">
                CacAmical
            </div>

            <div>
                <button class="bg-white text-blue-500 px-4 py-2 rounded-full text-sm font-semibold" onclick="location.href='/connexion';"  sec:authorize="isAnonymous()">
                    Connexion
                </button>
                <button class="bg-white text-blue-500 px-4 py-2 rounded-full text-sm font-semibold" onclick="location.href='/profil';" sec:authorize="isAuthenticated()">
                    Profil
                </button>
                <button class="bg-white text-blue-500 px-4 py-2 rounded-full text-sm font-semibold" onclick="location.href='/logout';" sec:authorize="isAuthenticated()">
                    Deconnexion
                </button>
            </div>
        </div>
    </header>
    <div class="flex-1">
        <h1>Mon profil</h1>
        <p>Id: <span th:text="${user.userId}"></span></p>
        <p>Username: <span th:text="${user.username}"></span></p>
        <p>Nom de famille: <span th:text="${user.nom}"></span></p>
        <p>Prenom: <span th:text="${user.prenom}"></span></p>
    </div>
</body>
</html>